.Brand {
	box-shadow: var(--shadow-dark);
	background-color: var(--gray-50);
	color: var(--gray-900);
	border-radius: var(--border-radius);
	&-image {
		border-radius: var(--border-radius);
		overflow: hidden;
		height: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-content {
		text-align: center;
		padding: 1.25rem 0.5rem 0.5rem;
		h3 {
			font-size: 1.25rem;
		}
		p {
			color: var(--gray-500);
			font-size: 0.825rem;
			margin: 0.25rem 0 1.75rem;
		}
	}
}