:root {
	/*		COLORS		*/
	--main: #F4722A;
	--main-light-50: #ffffff;
	--main-light-100: #fef1ea;
	--main-light-200: #fde3d4;
	--main-light-300: #fcd5bf;
	--main-light-400: #fbc7aa;
	--main-light-500: #fab995;
	--main-light-600: #f8aa7f;
	--main-light-700: #f79c6a;
	--main-light-800: #f68e55;
	--main-light-900: #f5803f;
	--main-dark-50: #dc6726;
	--main-dark-100: #c35b22;
	--main-dark-200: #ab501d;
	--main-dark-300: #924419;
	--main-dark-400: #7a3915;
	--main-dark-500: #622e11;
	--main-dark-600: #49220d;
	--main-dark-700: #311708;
	--main-dark-800: #180b04;
	--main-dark-900: #000000;
	--main-opacity-1: rgba(244, 114, 42, 0.1);
	--main-opacity-2: rgba(244, 114, 42, 0.2);
	--main-opacity-3: rgba(244, 114, 42, 0.3);
	--main-opacity-4: rgba(244, 114, 42, 0.4);
	--main-opacity-5: rgba(244, 114, 42, 0.5);
	--main-opacity-6: rgba(244, 114, 42, 0.6);
	--main-opacity-7: rgba(244, 114, 42, 0.7);
	--main-opacity-8: rgba(244, 114, 42, 0.8);
	--main-opacity-9: rgba(244, 114, 42, 0.9);
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
	--light-opacity-1: rgba(255, 255, 255, 0.1);
	--light-opacity-2: rgba(255, 255, 255, 0.2);
	--light-opacity-3: rgba(255, 255, 255, 0.3);
	--light-opacity-4: rgba(255, 255, 255, 0.4);
	--light-opacity-5: rgba(255, 255, 255, 0.5);
	--light-opacity-6: rgba(255, 255, 255, 0.6);
	--light-opacity-7: rgba(255, 255, 255, 0.7);
	--light-opacity-8: rgba(255, 255, 255, 0.8);
	--light-opacity-9: rgba(255, 255, 255, 0.9);
	--dark-opacity-1: rgba(0, 0, 0, 0.1);
	--dark-opacity-2: rgba(0, 0, 0, 0.2);
	--dark-opacity-3: rgba(0, 0, 0, 0.3);
	--dark-opacity-4: rgba(0, 0, 0, 0.4);
	--dark-opacity-5: rgba(0, 0, 0, 0.5);
	--dark-opacity-6: rgba(0, 0, 0, 0.6);
	--dark-opacity-7: rgba(0, 0, 0, 0.7);
	--dark-opacity-8: rgba(0, 0, 0, 0.8);
	--dark-opacity-9: rgba(0, 0, 0, 0.9);
	--success: rgb(42, 202, 74);
	--danger: rgb(212, 51, 78);
	--caution: rgb(248, 223, 82);
	/*			GLOBAL VALUES		*/
	--header-height: 65px;
	--border-radius: 8px;
	--shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
	--shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	--shadow-none: 0 0 #0000;
	--shadow-orange-sm: 0px 0px 2px var(--main-opacity-9);
	--shadow-orange: 10px 2px 30px var(--main-opacity-6);
	--shadow-orange-hover: 0px 0px 30px var(--main-opacity-6);
	--shadow-dark: 10px 2px 30px rgba(0, 0, 0, 0.15);
	--shadow-dark-hover: 0px 0px 30px rgba(0, 0, 0, 0.15);
	--transition: cubic-bezier(.59,0,.06,1);
	--padding-x: 2rem;
	@include mobile {
		--padding-x: 2.25rem;
	}
	@include tablet {
		--padding-x: 3rem;
	}
	@include hugeScreens {
		--padding-x: 3rem;
	}
}
