button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	&.cv-button {
		padding: .65rem 2.25rem;
		transition: background-color	400ms	var(--transition),
					box-shadow			400ms	var(--transition),
					border-color		400ms	var(--transition);
		border-radius: var(--border-radius);
		font-weight: 500;
		font-size: 0.925rem;
		text-transform: uppercase;
		&.orange-primary {
			background-color: var(--main);
			color: var(--gray-50);
			box-shadow: var(--shadow-orange);
			border: 2px solid var(--main);
			&:hover {
				background-color: var(--main-light-800);
				box-shadow: var(--shadow-orange-hover);
				border-color: var(--main-light-800);
			}
			&:focus {
				background-color: var(--main-dark-100);
				border-color: var(--main-dark-100);
			}
		}
		&.orange-secondary {
			background-color: var(--gray-50);
			color: var(--main);
			border: 2px solid var(--main-light-300);
			&:hover {
				border-color: var(--main-light-600);
			}
			&:focus {
				color: var(--main-dark-100);
				border-color: var(--main-dark-100);
			}
		}
		&.dark-primary {
			background-color: var(--gray-900);
			box-shadow: var(--shadow-dark);
			border: 2px solid var(--gray-900);
			color: var(--gray-50);
			&:hover {
				box-shadow: var(--shadow-dark-hover);
				background-color: var(--gray-700);
				border-color: var(--gray-700);
			}
			&:focus {
				background-color: var(--gray-800);
				border-color: var(--gray-800);
			}
		}
		&.dark-secondary {
			background-color: var(--gray-50);
			color: var(--gray-900);
			border: 2px solid var(--gray-300);
			&:hover {
				border-color: var(--gray-500);
			}
			&:focus {
				border-color: var(--gray-800);
			}
		}
	}
}