::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #BBB;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #BBB;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: #BBB;
  }

input, textarea, select {
	background: none;
	border: none;
	outline: none;
	&.cv-input {
		padding: 0.65rem 0.825rem;
		border-radius: var(--border-radius);
		font-weight: 300;
		width: 100%;
		font-size: 0.9rem;
		transition: all	400ms	var(--transition);
		border: 1px solid transparent;
		&.header-search {
			padding: 0.35rem 0.825rem;
			padding-left: 2rem;
			background-color: #eee;
			background-image: url(/assets/search.svg);
			background-size: 14px;
			background-repeat: no-repeat;
			background-position: 0.7rem center;
			color: var(--gray-400);
			&:focus {
				color: var(--gray-800);
				background-image: none;
				padding: 0.35rem 0.825rem;
				font-weight: 400;
			}
		}
		&.search {
			padding: 0.825rem 2.75rem;
			background-image: url(/assets/search.svg);
			background-size: 16px;
			background-repeat: no-repeat;
			background-position: 1rem center;
			color: var(--gray-400);
			font-weight: 400;
			font-size: 0.925rem;
			border-radius: 6px;
			box-shadow: var(--shadow-xl);
			border-color: var(--gray-200);
			&:focus {
				box-shadow: var(--shadow-md);
				color: var(--gray-800);
				border-color: var(--gray-500);
			}
		}
		&.textarea, &.std {
			border-color: var(--gray-300);
			box-shadow: var(--shadow-none);
			font-weight: 400;
			&:focus {
				border-color: var(--main);
				box-shadow: var(--shadow-orange-sm);
			}
		}
	}
}