.title {
	&.primary {
		color: var(--main);
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -1.5px;
		font-family: Sora;
		@include tablet {
			font-size: 2.5rem;
		}
		@include desktop {
			font-size: 3.5rem;
		}
		@include hugeScreens {
			font-size: 4rem;
		}
		&.black {
			color: var(--gray-900);
		}
		&.inter {
			font-family: Inter;
		}
	}
	&.secondary {
		color: var(--gray-900);
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: -0.5px;
		font-family: Sora;
		@include tablet {
			font-size: 1.5rem;
		}
		@include desktop {
			font-size: 2.5rem;
		}
		@include hugeScreens {
			font-size: 3rem;
		}
		&.blue {
			color: var(--main);
		}
		&.inter {
			font-family: Inter;
		}
	}
	&.tertiary {
		color: var(--gray-900);
		font-size: 1.25rem;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.5px;
		@include tablet {
			font-size: 1.25rem;
		}
		@include desktop {
			font-size: 1.75rem;
		}
		@include hugeScreens {
			font-size: 2.5rem;
		}
		&.blue {
			color: var(--main);
		}
	}
}

.text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.75;
	color: var(--gray-900);
	text-align: justify;
}

.sub-title {
	font-weight: 600;
	font-size: 0.925rem;
	font-family: Sora;
	@include tablet {
		font-size: 1rem;
	}
	@include desktop {
		font-size: 1.25rem;
	}
	@include hugeScreens {
		font-size: 1.75rem;
	}
}