:root {
	/*		COLORS		*/
	--main: #F4722A;
	--main-light-50: #ffffff;
	--main-light-100: #fef1ea;
	--main-light-200: #fde3d4;
	--main-light-300: #fcd5bf;
	--main-light-400: #fbc7aa;
	--main-light-500: #fab995;
	--main-light-600: #f8aa7f;
	--main-light-700: #f79c6a;
	--main-light-800: #f68e55;
	--main-light-900: #f5803f;
	--main-dark-50: #dc6726;
	--main-dark-100: #c35b22;
	--main-dark-200: #ab501d;
	--main-dark-300: #924419;
	--main-dark-400: #7a3915;
	--main-dark-500: #622e11;
	--main-dark-600: #49220d;
	--main-dark-700: #311708;
	--main-dark-800: #180b04;
	--main-dark-900: #000000;
	--main-opacity-1: rgba(244, 114, 42, 0.1);
	--main-opacity-2: rgba(244, 114, 42, 0.2);
	--main-opacity-3: rgba(244, 114, 42, 0.3);
	--main-opacity-4: rgba(244, 114, 42, 0.4);
	--main-opacity-5: rgba(244, 114, 42, 0.5);
	--main-opacity-6: rgba(244, 114, 42, 0.6);
	--main-opacity-7: rgba(244, 114, 42, 0.7);
	--main-opacity-8: rgba(244, 114, 42, 0.8);
	--main-opacity-9: rgba(244, 114, 42, 0.9);
	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
	/*			GLOBAL VALUES		*/
	--header-height: 65px;
	--border-radius: 4px;
	--shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
	--shadow-orange: 10px 2px 30px var(--main-opacity-6);
	--shadow-orange-hover: 2px 2px 30px var(--main-opacity-6);
	--shadow-dark: 10px 2px 30px rgba(0, 0, 0, 0.4);
	--shadow-dark-hover: 2px 2px 30px rgba(0, 0, 0, 0.4);
	--transition: cubic-bezier(.59,0,.06,1);
}
